*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    background-color: floralwhite;
}

.container{
    margin: 0 auto;
    height: 99.9vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border{
    border-bottom: 1px solid gray;
    margin: 20px;
    width: 80%;
}

.section-input{

    margin: 0 auto;
    width: 70%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    
    display: flex;
    width: 70%;
    font-size: 25px;
    margin-bottom: 5px;
}

input{
    width: 70%;
    font-size: 25px;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 0.25rem;
}

input:focus,
input:hover{
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.btn{
    font-family: inherit;
    font-size: 25px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 20%;
}

.btn:hover{
    background-color: lightgreen;
    border: none;
    outline: none;
}

.output{

    margin-top: 2.5rem;
    font-size: 25px;
    font-weight: 500;
}